.wrap-all {
    width: 90em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 190px) 100px;
    grid-gap: 2px;
    
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    background: url('../images/backgroundpic.jpg')  0 100% no-repeat;
    max-height: 520px;
    background-size: cover;

}


  h1 {
    font-size: 60px;
    font-weight: 100;
    color :white;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin-left: 350px;
  
} 

  
h2 {
    width: 65%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5em;
    color :white;
    margin-left: 220px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    
}
  
h3 {
    margin-bottom: 234px;
    font-size: 20px;
    font-weight: 200;
    color :white;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin-left: 440px;
}
h3:hover {
    text-decoration: underline;
    cursor: pointer;
} */

nav ul li a:hover {
    background: rgba(51,51,51,0.6);
}



header ul {
    display: flex; 
    flex-flow: row;
    border-radius: 4px;
    margin-left: 4rem;
  }
  
  header li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 36px; 
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 -1px black;
    background: linear-gradient(rgb(140,140,140), rgb(110,110,110) 50%, rgb(90,90,90) 51%, rgb(130,130,130));
    border: 1px solid rgb(100,100,100);
    border-left: none;
    color: white;
  }
  
  header li:hover {
    opacity:0.7;
  }
  
  header li:first-of-type {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid rgb(100,100,100);
  }
  
  header li:last-of-type {
    width: 130px;
    border: 1px solid rgb(100,100,100);
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
  
  header li:last-of-type:hover {
    opacity: 1;
  }
  
  img[src$="logo.png"] {
    height: 70%;
  }
  
  input[name="search"] {
    width: 80%;
    color: #fff;
    border: none;
    border-radius: 12px;
    border-top: 2px solid rgb(60,60,60);
    border-bottom: 1px solid rgb(160,160,160);
    background: linear-gradient(rgb(140,140,140), rgb(110,110,110) 50%, rgb(90,90,90) 51%, rgb(130,130,130));
    outline: none;
  }

  footer {
    display: flex;
    height: 200px;
    font-size: 12px;
    color: rgb(100,100,100);
    margin-left: -40px;

  } 
  
 footer div { 
    width: 100%;
    margin-bottom: 0rem;
  }

    footer span {
    display: block;
    font-size: 6px;
    
    

  }
  
footer #fword{
  margin-left: 20px;
}
  
  footer ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
  }
  .second-item-footer li{
    padding: 10px;
    font-size: 12px;
    
  } 

  footer .last-item {
    margin-left: 40px;
  }
  footer li {
    padding: 0 0px 0 0px;
    border-right: 1px solid rgb(100,100,100);
 }
  
  aside {
    border-top: -1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  
  aside, .second-item-footer ul {
    display: flex;
    flex-flow: row;
    
  }
  ul {
    list-style: none;
  }
  
  aside img {
    width: 100%;
  } 